# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.pytest_cache/
# Sphinx documentation
docs/_build/
# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# build
*.egg-info/

/tests/cache
/scripts/

# fits.gz
*.fits.gz

/dist

.coverage
# viztracer
result.json
!tests/data/spec-55859-F5902_sp01-001_dr7.fits.gz
!tests/data/spec-55859-F5902_sp01-013_dr8.fits.gz

.python-version
uv.lock