*.fits.gz
*.fits
*.jepg
*.pyc

/.astroprocessing
*/__pycache__/*
/fits
/.idea
/src/AstroProcessing.egg-info
/src/build
/src/dist

/tests
/data
/scripts
/star_catelog
/.pytest_cache
Cmost.egg-info