*.fits.gz
*.fits
*.jepg
*.pyc

/.astroprocessing
*/__pycache__/*
/fits
/.idea
/.vscode

/tests
/data
/scripts
/star_catelog
/.pytest_cache
/Cmost.egg-info
/dist
/build
src/Cmost.egg-info