name: build and test

on:
  push:
    branches: [ master ]
    paths:
      - "src/cmost/**"
      - "tests/**"
      - ".github/workflows/ci-cd.yml"
  pull_request:
    paths:
      - "src/cmost/**"
      - "tests/**"
      - ".github/workflows/ci-cd.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        os: [ubuntu-latest, macos-latest,windows-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 25

    steps:
    - uses: actions/checkout@v4
      with:
        # This is necessary to get the PR head instead of base
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
    - name: Build dist and test with unittest
      if: matrix.os != 'windows-latest'
      run: |
        python -m build
        pip install dist/*.whl
        python -m unittest
    - name: Build dist and test with unittest on Windows
      if: matrix.os == 'windows-latest'
      run: |
        python -m build
        pip install (Get-ChildItem dist/*.whl)
        python -m unittest

    - name: Generate coverage report
      run: |
        coverage run --source cmost --parallel-mode -m pytest
        coverage combine
        coverage xml -i
      env:
        COVERAGE_RUN: True
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.xml